
{% extends 'configs/base.html' %}
{% load widget_tweaks %}
{% block mainContent %}

<style>

    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }
 .modal-backdrop.fade.show{
   display:none;
 }
</style>
 <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="home-tab">
                  <div class="d-sm-flex align-items-center justify-content-between border-bottom">

                    {% include 'sales_process/sales_nav_links.html' %}
                   
                  </div>
                  <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="create-user" role="tabpanel" aria-labelledby="overview">
                      <div class="row">

                           <div class="container mt-5">
  <div class="card shadow-lg p-4">

    <h3 class="mb-4">Sales</h3>
<div class="container py-4">
  
<div id="sale-message"> </div>


  <form 
      method="POST"
      hx-post="{% url 'sales-list' %}" 
      hx-target="#sales-results" 
      hx-indicator="#salesSpinner"
      class="row g-3 mb-4">

    {% csrf_token %}

    <div class="col-md-3">
      <label class="form-label">IMEI</label>
      <input type="text" name="imei" value="{{ form.imei.value }}" 
             class="form-control">
    </div>

    <div class="col-md-3">
      <label class="form-label">Product Name</label>
      <input type="text" name="product_name" value="{{ form.product_name.value }}" 
             class="form-control">
    </div>

    <div class="col-md-3">
      <label class="form-label">Start Date</label>
      <input type="date" name="start_date" value="{{ form.start_date.value }}" 
             class="form-control">
    </div>

    <div class="col-md-3">
      <label class="form-label">End Date</label>
      <input type="date" name="end_date" value="{{ form.end_date.value }}" 
             class="form-control">
    </div>

    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-search"></i> Search
      </button>

      
    </div>
  </form>

  <!-- Spinner -->
  <div id="salesSpinner" class="text-center my-2" style="display:none;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="table-responsive shadow-sm rounded" id="sales-results">
    {% include 'sales_process/sales_list_table.html' %}
  </div>

  
</div>
    


      
    <!-- 🔹 HTMX Form -->
    
  </div>
</div> 




                      

                      </div>
                    </div>
                 </div>
                </div>
              </div>
            </div>
          </div>

{% endblock mainContent %}


